extends layout

block content
  h1= title
  p LED cube
  //Wrapper
  #wrapper
      //LED INFO
      #ledInfo
          h2 LED info
          p
              strong ID:
              |  <span id='infoID'></span>
              br
              strong X:
              |  <span id='infoDelay'></span>
              br
              strong Y:
              |  <span id='infoPattern'></span>
              br
              strong Z:
              |  <span id='infoDuration'></span>
              br



      //LED LIST
      h2 LED List
      #ledList
          table
              thead
                  th id
                  th Delay
                  th Pattern
                  th Duration
                  th delete
              tbody
      //ADD LED
      h2 Add LED
      #addLED
          fieldset
              input#inputDelay(type='text', placeholder='delay')
              br
              input#inputPattern(type='text', placeholder='pattern')
              br
              input#inputDuration(type='text', placeholder='duration')
              br
              button#btnAddLED Add LED
